@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SourceSans';
  src: url('~/assets/fonts/SourceSans3-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('~/assets/fonts/FuturaPT-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

